
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.sliding-alert {
    position: fixed;
    top: 5.5rem;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    transform: translateX(100%);
    animation: slideIn 0.5s ease-in-out forwards; /* Use the slideIn animation for entering */
    transition: transform 0.5s ease-in-out; /* Add transition for smooth sliding back in */
}

.slide-out {
    animation: slideOut 0.5s ease-in-out forwards; /* Use the slideOut animation for exiting */
}
